//
   Created by chris on 3/15/2017.

doctype html
html(lang="en")
    head
        title!= title
        script(src="/js/jquery-2.1.4.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
        script(src="../../js/.js")
    body(onload="loadPlans();")
        h1!= user.username
        p!= user.first_name
        p!= user.last_name

        div
            ul#plans