<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!--image upload-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <script src="https://angular-file-upload.appspot.com/js/ng-file-upload.js"></script>
    <script src="https://angular-file-upload.appspot.com/js/ng-file-upload-shim.js"></script>

    <link rel="stylesheet" href="css/new_post.css">
    <script src="js/new_post.js"></script>
    <!--<script src="js/register.js" type="text/javascript"></script>-->
    <title>New Listing</title>
</head>
<!--<nav class="navbar navbar-default navbar-static-top">-->
    <!--<div class="col-xs-12" id="listing">-->
        <!--<h2>Create New Listing</h2>-->
    <!--</div>-->
    <!--<h2>Create New Listing</h2>-->
<!--</nav>-->

<!--<nav class="navbar navbar-default">-->
    <!--<div class="container-fluid">-->
        <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="#"><img src="img/logo.png" id="logo"></a>-->
        <!--</div>-->

        <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
        <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->

            <!--<form class="navbar-form navbar-left">-->
                <!--<div class="form-group">-->
                    <!--<input type="text" class="form-control" placeholder="Search">-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-default">Submit</button>-->
            <!--</form>-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<div class="row">-->
                    <!--<div class="col-sm-6" style="color:gold;">-->
                        <!--<img src="img/download.png" style="width: 80px">-->
                    <!--</div>-->
                    <!--<div class="col-sm-6" style="color:white;">-->
                        <!--<p>MY ACCOUNT</p>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</ul>-->
        <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--</nav>-->


<!--NEW START-->

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<div id="flipkart-navbar">
    <div class="container">
        <div class="row row2">
            <div class="col-sm-2">
                <h2 style="margin:0px;"><span class="smallnav menu" onclick="openNav()">☰ Brand</span></h2>
                <h1 style="margin:0px;"><span class="largenav"><img src="img/logo.png" id="logo"></span></h1>
            </div>
            <div class="flipkart-navbar-search smallsearch col-sm-8 col-xs-11">
                <div class="row">
                    <input class="flipkart-navbar-input col-xs-11" type="" placeholder="Search for items" name="">
                    <button class="flipkart-navbar-button col-xs-1">
                        <svg width="15px" height="15px">
                            <path d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 "></path>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cart largenav col-sm-2">
                <a class="cart-button">
                    <span class="item-number" style="color: black">MY ACCOUNT</span>
                </a>
            </div>
        </div>
        <div class="row row1">
            <ul class="largenav pull-left">
                <li class="upper-links"><a class="links" href="http://clashhacks.in/">BOOKS</a></li>
                <li class="upper-links"><a class="links" href="http://clashhacks.in/">CLOTHING</a></li>
                <li class="upper-links"><a class="links" href="http://clashhacks.in/">FURNITURE</a></li>
                <li class="upper-links"><a class="links" href="http://clashhacks.in/">JOBS</a></li>
                <li class="upper-links"><a class="links" href="http://clashhacks.in/">ELECTRONICS</a></li>
                <li class="upper-links"><a class="links" href="http://clashhacks.in/">TUTORING</a></li>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="mySidenav" class="sidenav">
    <div class="container" style="background-color: #2874f0; padding-top: 10px;">
        <span class="sidenav-heading">Home</span>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    </div>
    <a href="http://clashhacks.in/">Link</a>
    <a href="http://clashhacks.in/">Link</a>
    <a href="http://clashhacks.in/">Link</a>
    <a href="http://clashhacks.in/">Link</a>
</div>


<!--END-->


<!--adapted from: http://jsfiddle.net/danialfarid/maqbzv15/1118/-->

<body ng-app="fileUpload" ng-controller="MyCtrl">
    <form name="myForm">
            <legend>Upload on form submit</legend>
            <!--TITLE-->
            </br>1) TITLE
            <input name="title" id="title" ng-model="title" placeholder="Name of product or service" required>
            <i ng-show="myForm.title.$error.required">*required</i>

            <!--DESCRIPTION-->
            </br>2) DESCRIPTION
            <input name="description" id="description" ng-model="description" placeholder="description" required>
            <i ng-show="myForm.description.$error.required">*required</i>

            <!--PRICE-->
            </br>3) PRICE
            <input name="price" id="price" ng-model="price" placeholder="price" type="number" required>
            <i ng-show="myForm.price.$error.required">*required</i>

            <!--VUNET ID-->
            </br>4) VUNETID
            <input name="vunetid" id="vunetid" ng-model="vunetid" placeholder="vunetid"  required>
            <i ng-show="myForm.vunetid.$error.required">*required</i>


            <!--TYPE:-->
            </br> 5) TYPE
            <div class="container">
                <div class="form-group">
                    <div class="radio">
                        <label><input type="radio" name="tag" id="textbook" ng-model="tag"  value="textbook" required>Textbook</label>
                    </div>

                    <div class="radio">
                         <label><input type="radio" name="tag" id="furniture" ng-model="tag" value="furniture" >Furniture</label>
                    </div>

                    <div class="radio disabled">
                        <label><input type="radio" name="tag" id="clothing" ng-model="tag" value="clothing">Clothing</label>
                    </div>

                    <div class="radio">
                        <label><input type="radio" name="tag" id="electronics" ng-model="tag" value="electronics">Electronics</label>
                    </div>

                    <div class="radio">
                        <label><input type="radio" name="tag" id="services" ng-model="tag"  value="services">Services</label>
                    </div>

                    <div class="radio">
                        <label><input type="radio" name="tag" id="other" ng-model="tag" value="other">Other</label>
                    </div>
                </div>
            </div>

            <!--NEW IMAGE UPLOAD-->
            <br>Photo:
            <input type="file" ngf-select ng-model="picFile" name="file"
                   accept="image/*" ngf-max-size="2MB" required
                   ngf-model-invalid="errorFile">
            <i ng-show="myForm.file.$error.required">*required</i><br>
            <i ng-show="myForm.file.$error.maxSize">File too large
                {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
            <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
            <br>

            <button ng-disabled="!myForm.$valid"
                    ng-click="uploadPic(picFile)">Submit</button>
            <span class="progress" ng-show="picFile.progress >= 0">
            <div style="width:{{picFile.progress}}%"
                 ng-bind="picFile.progress + '%'"></div>
          </span>
            <span ng-show="picFile.result">Upload Successful</span>
            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

        </fieldset>
        <br>
    </form>
</body>


</html>