#listing{
    /*color: gold;*/
    /*background-color: black;*/
}

#btnUploadPhoto{
    color: gold;
    background-color: black;
}

#submit{
    color: #997F3D;
    background-color: black;
}

#logo{
    width: 100px;
}

.navbar{
    height: 100px;
    width: 100%;
    background-color: black;
    align-content: stretch;
}

