#listing{
    color: gold;
    background-color: black;
}

#btnUploadPhoto{
    color: gold;
    background-color: black;
}

#submit{
    color: gold;
    background-color: black;
}

#logo{
    width: 80px;
}

.navbar{
    height: 100px;
    width: 100%;
    background-color: black;
    align-content: stretch;
}

.navbar-form{

}

.nav > .navbar > .navbar-right{
    color: gold;
}
